# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

   1. python
   1. R
   3. SQL
   4. Scala
   5. Java
   1. Julia
   7. C++

Some of the commonly used libraries used by Data Scientists include:

   1. Numpy 
   1. Pandas
   1. Scikit learn
   1. Keras
   1. Tensorflow

|Data Science tools|
----------------------------
| My SQl|
----------------------------
|PostSQL|
----------------------------
| hadoop|
----------------------------

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
 # This a simple arithmetic expression to mutiply then add integers 
 (3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Some of the popular languages that Data Scientists use are:

   * Java script
   * php
   * Go
   * Ruby

## Author
Mukesh Singh